name: Release

on:
  push:
    tags: ["v*"]

  # Allows manual triggering
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - host: linux
            os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            label: linux-x86_64
          
          - host: windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            label: windows-x86_64

          - host: macos
            os: macos-latest
            target: x86_64-apple-darwin
            label: macos-x86_64
    
    name: Build (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build Release
        run: cargo build --release --locked --verbose --target ${{ matrix.target }}

      - name: Generate Artifacts
        run: ./scripts/gen-artifacts.sh ${{ matrix.host }} ${{ matrix.target }} ${{ matrix.label }} ${TAG_NAME#v}

      - name: Upload Files to Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: target/tmp
